{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
    <div class="container text-center mt-5">
        <h1> Lite om MVC kursen! </h1>
        <div class="row align-items-start">
            <div class="col">
                <p>I mvc kursen, vi kommer blanda in objektorienterad programmering tillsammans med en webbbaserat ramverk</p>
            </div>
            <div class="col">
                <p>Vi kommer skriva lite PHP, lite Twig. Vi kommer använda en databas och köra lite testning också!</p>
            </div>
        </div>
        <a href="https://github.com/jonathanfriberg/mvc"> Här finns en länk till min GitHub repo! </a>
    </div>
    
{% endblock %}