{% extends "base.html.twig" %}
{% block title %}API{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h3>List of available API calls</h3>

        <div class="list-group">
            <a href="{{ path('api_quote') }}" class="list-group-item list-group-item-action">Quote</a>
            <a href="#" class="list-group-item list-group-item-action">More coming soon..</a>
        </div>
    </div>
{% endblock%}
