{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Lite om mig!</h1>
        <p>Jonathan Friberg heter jag och jag pluggar blandad ettan och tvåans kurser på Webbprogrammering.</p>
        <p>Lite fakta om mig:</p>
        <ol>
            <li>Jag växte upp i Hongkong</li>
            <li>Jag DJar på Studentpuben lite då och då!</li>
            <li>Jag kollar på Formel 1</li>
            <li>Jag kollar mycket fotboll men hejar inte på något lag</li>
        </ol>
        <p>En bild på mig in action! </p>
        <img src="img/me.jpg" width="50%">
    </div>

    
{% endblock %}